<footer class="footer">
    <div class="footer-container">
      <div class="footer-content">
        <div class="footer-section">
          <h3>Developer</h3>
          <p>Name: Samuel Ndegwa</p>
          <p>Phone: 0726159307</p>
        </div>
        
        <div class="footer-section">
          <h3>Who is Samuel Ndegwa</h3>
          <p>Samuel Ndegwa is an experience Full Stack Developer. He is currently working as Senior Software Developer at AA Kenya</p>
        </div>
        
        <div class="footer-section">
          <h3>Languange's Good at</h3>
          <p>Frontend:  Angular  (<b>Electron</b> for Desktop App and <b>Ionic</b> for Mobile App)</p>
          <p>Backend: Go, C# .Net, Java or PHP</p>
        </div>
      </div>
      
      <div class="footer-bottom">
        <p>&copy; {{currentYear}} Ndegwa Insurance Policy. All rights reserved.</p>
      </div>
    </div>
  </footer>